<div class="leftMenuParent">
    {{ knp_menu_render('BeusoftThemesBundle:Builder:sidebarMenu', {'template': 'BeusoftThemesBundle:Menu:knp_sidebar_menu.html.twig'}) }}
</div><!-- class="leftMenuParent" END -->