<div class="main_menu_catagories">
    <div class="main_menu_box">
        <ul class="mainMenu">
            <li class="parent_main has_dropdown">
                <a class="mega_menu_home" href="javascript:void(0);">
                    <div class="nav_icon">
                        <div class="line_box">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="nav_text">Browse Courses</div>
                </a>
                {{ knp_menu_render('AppBundle:Builder:topMenu', {'template': ':Menu:knp_top_menu.html.twig'}) }}
            </li>
        </ul>
    </div>
</div>