<div class="searchBarOpen" id="main_search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search For courses ---- categories ---- and more">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><img src="{{ asset('bundles/app/images/content/search_go_icon.png') }}" alt="Go!"></button>
			      </span>
    </div>
    <a href="#m" id="close_search" class="cross"><img src="{{ asset('bundles/app/images/content/search_cross.png') }}" alt="Cross"></a>
</div>