fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: AppBundle\Entity\User
    change_password:
        form:
            type: cls_change_password
    registration:
        confirmation:
            enabled: true
            from_email:
                address: ccjk.com@gmail.com
                sender_name: CLS
        form:
            type: cls_user_registration
            validation_groups:  [Registration]
    profile:
        form:
            type: cls_user_profile