.topicRow {

  padding: 10px;

  border-top: 1px solid lighten($dark,87%);

  overflow: hidden;

  &:last-child {

    border-bottom: 1px solid lighten($dark,87%);

  }

  &:hover, &.active {

    background-color: lighten($dark,100%);

    @include box-shadow(1px 2px 3px rgba(0, 0, 0, 0.06));

    @include pie;

    .topicText, .chapter_title {

      color: #ec9f0f;

      cursor: pointer;

    }

  }

  .topicText {

    float: left;

    color: lighten($dark,32%);

    word-wrap: break-word;

    @media #{$break-xlarge} {

      width: 100%;

    }

    @media #{$break-large} {

      width: 100%;

    }

    @media #{$break-small} {

      width: 100%;

    }

    @media #{$break-little} {

      width: 100%;

    }

  }

  .topicDelete, .topicEdit {

    float: right;

    margin: 0 8px;

    padding-left: 15px;

    a {

      font-size: 12px;

      color: #ec9f0f;

    }

  }

   .topicDelete {

      background: url(#{$imagesPath}ui/delete_icon.png) 0px 6px no-repeat;

   }

  .topicEdit {

    background: url(#{$imagesPath}ui/edit_icon.png) 0px 4px no-repeat;

    margin-right: 0;
    
  }

}