.courseDetailParent {

	overflow: hidden;

	margin: 0 0 20px;
	
}

.courseDetail {

	width: 69.5%;

	float: left;

    margin-right: 2%;

    @media #{$break-xxlarge} {

		width: 67.5%;

	}

    @media #{$break-xlarge} {

		width: 100%;

		margin-right: 0;

	}

    @media #{$break-large} {

		width: 100%;

		margin-right: 0;

	}

    @media #{$break-medium} {

		width: 100%;

		margin-right: 0;

	}

    @media #{$break-small} {

		width: 100%;

		margin-right: 0;

	}

    @media #{$break-little} {

		width: 100%;

		margin-right: 0;

	}

	h3 {

		@media #{$break-small} {

			margin-top: 0;

		}

		@media #{$break-little} {

			margin-top: 0;

		}

	}

	.showCourse {

		margin-top: 40px;

    	padding-bottom: 0;

		border: 0;

		@media #{$break-small} {

			margin-top: 0;

		}

		@media #{$break-little} {

			margin-top: 0;

		}

		.media-body {

			width: 100%;

			@media #{$break-medium} {

				width: 100%;

			}

			h3 {

				font-size: 25px;

				color: lighten($dark,0%);

			}

			.courseLinks {

				margin-bottom: 20px;

				@media #{$break-medium} {

					overflow: hidden;

				}

				@media #{$break-small} {

					overflow: hidden;

				}

				@media #{$break-little} {

					overflow: hidden;

				}

				li {

					@media #{$break-medium} {

						margin-left: 4%;

						&:first-child {

							margin-left: 0;

						}

					}

					@media #{$break-small} {

						margin-left: 3%;

						&:first-child {

							margin-left: 0;

						}

					}

					@media #{$break-little} {

						margin-left: 3%;

						&:first-child {

							margin-left: 0;

						}

					}

				}

				.postDate {

					@media #{$break-medium} {

						margin: 0.5% 0 0;

						float: right;

					}

					@media #{$break-little} {

						float: right;

					}

				}

				.instructor {

					color: #525252;

				    float: right;

				    font-size: 12px;

				    margin-top: 2px;

				    span {

				    	color: #eca115;

				    }

					@media #{$break-medium} {

						margin-top: 2px;

						float: none;

					}

					@media #{$break-small} {

						margin-top: 2px;

						float: none;

					}

					@media #{$break-little} {

						margin-top: 6px;

						float: left;

					}

				}

			}

			p {

				margin-bottom: 20px;

				font-size: 14px;

				text-align: justify;

			}

		}

	}

}