.courseAccess {

	margin: 0 0 30px;

	.courseOffer {

		min-height: 66px;

		padding: 12px 0 0;

		background-color: lighten($dark,12%);

		@media #{$break-xxlarge} {

			padding: 12px 0;

		}

		@media #{$break-xlarge} {

			text-align: center;

			overflow: hidden;

		}

		@media #{$break-large} {

			text-align: center;

			overflow: hidden;

		}

		@media #{$break-medium} {

			text-align: center;

			overflow: hidden;

		}

		@media #{$break-small} {

			text-align: center;

			overflow: hidden;

		}

		@media #{$break-little} {

			text-align: center;

			overflow: hidden;


		}

		h4 {

			font-size: 19px;

			color: lighten($dark,100%);

			@media #{$break-xxxlarge} {

				font-size: 130%;

			}

			@media #{$break-xxlarge} {

				font-size: 130%;

			}

		}

		.courseLikeList {

			margin: 11px 0 0;

			padding: 0;

			float: right;

			@media #{$break-xlarge} {

				margin: 1% auto;

				float: none;

			}

			@media #{$break-large} {

				margin: 1% auto;

				float: none;

			}

			@media #{$break-medium} {

				margin: 1% auto;

				float: none;

			}

			@media #{$break-small} {

				margin: 1% auto;

				float: none;

			}

			@media #{$break-little} {

				margin: 10% auto;

				float: none;

				overflow: hidden;

			}

			li {

				display: inline-block;

				margin-left: 15px;

				color: #eda113;

				&:first-child {

					margin-left: 0;

				}

				a {

					color: #eda113;

					display: inline-block;

				}

				&:hover, &.active {

					@include transition(all 0.3s ease);

					@include pie;

					.likeIcon, .commentsIcon {

						background-position: left top;

						width: 18px;

						height: 17px;

						display: inline-block;

					}

				}

				.likeIcon, .commentsIcon {

					width: 18px;

					height: 17px;

					margin-right: 8px;

					display: inline-block;

					vertical-align: middle;

					@include transition(all 0.3s ease);

					@include pie;
					
				}

				.likeIcon {

					background: url(#{$imagesPath}ui/like_icon.png) no-repeat right top;
					
				}

				.commentsIcon {

					background: url(#{$imagesPath}ui/comments_icon.png) no-repeat right top;

				}

			}

		}

	}

	.btnOffer {

		background: #f8c057; /* Old browsers */

		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YzA1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzlmMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		
		background: -moz-linear-gradient(top,  #f8c057 0%, #ec9f0f 100%); /* FF3.6+ */

		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8c057), color-stop(100%,#ec9f0f)); /* Chrome,Safari4+ */

		background: -webkit-linear-gradient(top,  #f8c057 0%,#ec9f0f 100%); /* Chrome10+,Safari5.1+ */

		background: -o-linear-gradient(top,  #f8c057 0%,#ec9f0f 100%); /* Opera 11.10+ */

		background: -ms-linear-gradient(top,  #f8c057 0%,#ec9f0f 100%); /* IE10+ */

		background: linear-gradient(to bottom,  #f8c057 0%,#ec9f0f 100%); /* W3C */

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c057', endColorstr='#ec9f0f',GradientType=0 ); /* IE6-8 */

		padding: 6px 18px;

		font-size: 19px;

		font-weight: bold;

		color: lighten($dark,100%);

		float: right;

		@include pie;

		@media #{$break-xxlarge} {

			margin: 2% auto 0 auto;

			float: none;

			display: block;

		}

		@media #{$break-xlarge} {

			margin: 2% auto 3.5%;

			float: none;

		}

		@media #{$break-large} {

			margin: 2% auto 3.5%;

			float: none;

		}

		@media #{$break-medium} {

			margin: 2% auto 3.5%;

			float: none;

		}

		@media #{$break-small} {

			margin: 4% auto 6.5%;

			float: none;

		}

		@media #{$break-little} {

			padding: 3%;

			font-size: 120%;

			margin: 0 auto 10%;

			float: none;

		}

	}

}