.rightBox {

	width: 26.5%;

	float: left;

	margin-left: 2%;

    @media #{$break-xxlarge} {

		width: 28.5%;

	}

    @media #{$break-xlarge} {

		width: 100%;

		margin-left: 0;

	}

    @media #{$break-large} {

		width: 100%;

		margin-left: 0;

	}

    @media #{$break-medium} {

		width: 100%;

		margin-left: 0;

	}

    @media #{$break-small} {

		width: 100%;

		margin-left: 0;

	}

	@media #{$break-little} {

		width: 100%;

		margin-left: 0;

	}

// BUY COURSE BUTTON
	.btnBuyCourse,.btnBuyCourse:hover,.btnBuyCourse:focus {

		background: #f8c057; /* Old browsers */

		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YzA1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzlmMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		
		background: -moz-linear-gradient(top,  #f8c057 0%, #ec9f0f 100%); /* FF3.6+ */

		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8c057), color-stop(100%,#ec9f0f)); /* Chrome,Safari4+ */

		background: -webkit-linear-gradient(top,  #f8c057 0%,#ec9f0f 100%); /* Chrome10+,Safari5.1+ */

		background: -o-linear-gradient(top,  #f8c057 0%,#ec9f0f 100%); /* Opera 11.10+ */

		background: -ms-linear-gradient(top,  #f8c057 0%,#ec9f0f 100%); /* IE10+ */

		background: linear-gradient(to bottom,  #f8c057 0%,#ec9f0f 100%); /* W3C */

		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c057', endColorstr='#ec9f0f',GradientType=0 ); /* IE6-8 */

		width: 100%;

		padding: 11px 15px;

		font-size: 16px;

		font-weight: bold;

		color: lighten($dark,100%);

	}


// ABOUT INSTRUCTOR
	.aboutInstructor {

		min-height: 245px;

		padding: 12px;

		border: 1px solid lighten($dark,92%);

		@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.075));

		@include border-radius(4px);

		@include pie;

		@media #{$break-xlarge} {

			min-height: 170px;

		}

		@media #{$break-large} {

			min-height: 170px;

		}

		@media #{$break-medium} {

			min-height: 170px;

		}

		@media #{$break-small} {

			min-height: 170px;

		}

		h6 {

			margin: 0 0 10px;

			font-size: 16px;

			color: lighten($dark,0%);

		}

		.dpThumb {

		    float: left;

		    margin-right: 13px;

		}

		.aboutText {

			p {

				margin: 0 0 13px;

				font-size: 12px;

				color: lighten($dark,35%);

				text-align: justify;

			}

		}

		.tagsBox {

			@media #{$break-xlarge} {

				margin-top: 4%;

			}

			@media #{$break-large} {

				margin-top: 4%;

			}

			@media #{$break-medium} {

				margin-top: 2%;

			}

			@media #{$break-small} {

				margin-top: 2%;

			}

			h5 {

				font-size: 15px;

				font-weight: bold;

				color: lighten($dark,0%);

			}

			.tagsBoxList {

				padding: 0;

				margin: 0;

				li {

					background-color: lighten($dark,95%);

					display: inline-block;

					margin-bottom: 5px;

					@include border-radius(4px);

					@include pie;

					a {

						padding: 6px 12px;

						font-size: 12px;

						color: lighten($dark,45%);

						display: block;

						outline: none;

						&:hover {

							text-decoration: none;

							color: lighten($dark,25%);
							
						}

					}

				}

			}

		}

	}
	
}