AppBundle\Entity\Preference:
    type: entity
    table: preferences
    repositoryClass: AppBundle\Repository\PreferenceRepository
    id:
        id:
            type: integer
            id: true
            nullable: false
            generator:
                strategy: AUTO
    fields:
        title:
            type: string
            length: '50'
            nullable: false
        description:
            type: string
            length: '255'
            nullable: true
        abbreviation:
            type: string
            length: '10'
            nullable: false
        factor:
            type: float
            precision: '10'
            scale: '3'
            nullable: true
        status:
            type: smallint
            nullable: false
        createdAt:
            type: datetime
            nullable: true
            column: created_at
        updatedAt:
            type: datetime
            nullable: true
            column: updated_at
    manyToOne:
        parent:
            targetEntity: AppBundle\Entity\Preference
            inversedBy: child
            cascade: ["persist"]
            joinColumn:
                name: parent_id
                referencedColumnName: id
                onDelete:  "SET NULL"
                nullable: false
    oneToMany:
        child:
            targetEntity: AppBundle\Entity\Preference
            mappedBy: parent
            cascade: ["persist", "remove"]
            orphanRemoval: ["true"]
    lifecycleCallbacks: {  }
