AppBundle\Entity\User:
    type: entity
    table: users
    repositoryClass: AppBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            nullable: false
            generator:
                strategy: AUTO
    fields:
        fullName:
            type: string
            length: '255'
            column: full_name
            nullable: true
        firstName:
            type: string
            length: '255'
            column: first_name
            nullable: true
        lastName:
            type: string
            length: '255'
            column: last_name
            nullable: true
        bio:
            type: string
            length: '500'
            nullable: true
        credits:
            type: float
            nullable: true
            precision: '10'
            scale: '2'
            options:
                default: 0.00
            nullable: true
        emailVerified:
            type: boolean
            column: email_verified
            nullable: true
            options:
                default: 0
        dateCreated:
            type: datetime
            nullable: true
            column: date_created
        dateUpdated:
            type: datetime
            nullable: true
            column: date_updated
    oneToOne:
        profileMedia:
            targetEntity: AppBundle\Entity\Media
            cascade: ["all"]
            orphanRemoval: ["true"]
            joinColumn:
                name: profile_media_id
                referencedColumnName: id
                nullable: true
                onDelete:  "SET NULL"
    oneToMany:
        comments:
            targetEntity: AppBundle\Entity\Comment
            mappedBy: user
            cascade: ["persist", "remove"]
        transactions:
            targetEntity: AppBundle\Entity\Transaction
            mappedBy: user
            cascade: ["persist", "remove"]
        courses:
            targetEntity: AppBundle\Entity\Course
            mappedBy: user
            cascade: ["persist", "remove"]
        courseLiker:
            targetEntity: AppBundle\Entity\CourseLike
            mappedBy: user
            cascade: ["persist", "remove"]
        subscriptions:
            targetEntity: AppBundle\Entity\Subscription
            mappedBy: user
            cascade: ["persist", "remove"]
    lifecycleCallbacks: {  }
