$imagesPath:						"../images/";

$fontsPath:							"../fonts/";



/* START COLORS VARIABLES */

$dark:								#000000;

$xorange:							#d58512;

$orange:							#ec9f0f;



/* START FONT-FACE VARIABLES */

$signika-regular: 					'signika-regular';

$signika-light:						'signika-light';

$signika-semibold:					'signika-semibold';

$signika-bold:						'signika-bold';